.mobile-block {

	display: none

}

@media (max-width: 1140px) {

.card-deal .col-heading {

	min-width: 280px;

	-ms-flex-preferred-size: 280px;

	flex-basis: 280px

}

.nav-home-aside {

	width: 200px

}

}

@media (max-width: 992px) {





/*heading styles*/

 #vertical-menu h3 {

   padding: 10px 15px;

    display: block;

    text-decoration: none;

    color: #333;

    border-bottom: 1px solid #eee;

        font-size: 14px;

    font-weight: 500;

    margin-bottom: 0px;

    

}

/*heading hover effect*/

 #vertical-menu h3:hover {

    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);

}

/*iconfont styles*/

 #vertical-menu h3 span {

        font-size: 20px;

    margin-right: 10px;

    position: absolute;

    right: 8px;

    top: 8px;

}



/*list items*/

 #vertical-menu li {

    list-style-type: none;

    position: relative;

}

/*links*/

 #vertical-menu ul ul li a {

    padding: 10px 15px;

    display: block;

    text-decoration: none;

    color: #333;

    border-bottom: 1px solid #eee;

        font-size: 14px;

    font-weight: 500;

    

    /*transition for smooth hover animation*/

    transition: all 0.15s;

}

/*hover effect on links*/

 #vertical-menu ul ul li a:hover {

    background: #003545;

    /*border-left: 5px solid lightgreen;*/

}

/*Lets hide the non active LIs by default*/

 #vertical-menu ul ul {

    display: none;

}

#vertical-menu li.active ul {

    display: block;

}



	.section-header{

		top: 0px;

	}

	.brand-wrap{

		top: 5px;

		border-radius: 50%;

	}

	.section-header .logo {

    max-height: 90px;

}

	.menu-dropdown-list{

		background-color:#f8bf45;

		transform:inherit!important;;

		position: static!important;

	}

	.menu-dropdown-list a:hover{

		color: #fff!important;

	}

	.categories-menu, .categories-menu:hover{

		background-color: transparent;

		color: #000!important;

	}

	.menu-dropdown-list.show a:hover{

		color: #fff!important;

	}



	.categories-menu a:hover{

		color: #f8bf45!important;

	}

	.down-arrow-icon{

		color: #000!important;

	}

	.sidenav{

		width: 40%;

	}

	.menu-icon{

		display:none;

	}

	.categories-menu a{

		padding: 1rem!important;

	}

	.add-to-cart-flex{

	flex-wrap: wrap;

	}

.add-to-cart-right{

	width: 100%;

	margin-left: 0px;

    margin-top: 30px;

}

.nb-p {

	padding: 13px 0;

	display: block;

	position: relative;

}

.table-shopping-cart tr td:first-child {

	width: 250px

}

.table-shopping-cart .itemside .info {

	padding: 0

}

.table-shopping-cart .itemside .aside {

	display: none

}

.card-deal {

	display: block

}

.card-deal .col-heading {

	min-width: 280px

}

.slider-home-banner .carousel-item img {

	max-height: 350px

}

.bgHeading{ width: 100%;}

.bgHeading p{ margin: 0 0 20px 0;}

.tb-section .nav-tabs{ float: right;}

#pro1 .owl-nav,#pro2 .owl-nav,#pro3 .owl-nav,#pro4 .owl-nav,#pro5 .owl-nav,#pro6 .owl-nav,#pro7 .owl-nav,

#bspro1 .owl-nav,#bspro2 .owl-nav,#bspro3 .owl-nav,#bspro4 .owl-nav,#bspro5 .owl-nav,#bspro6 .owl-nav,

#bspro7 .owl-nav,#nApro1 .owl-nav,#nApro2 .owl-nav,#nApro3 .owl-nav,#nApro4 .owl-nav,#nApro5 .owl-nav,#nApro6 .owl-nav,#nApro7 .owl-nav,

#pRpro1 .owl-nav,#pRpro2 .owl-nav,#pRpro3 .owl-nav,#pRpro4 .owl-nav,#pRpro5 .owl-nav,#pRpro6 .owl-nav,#pRpro7 .owl-nav,#pCpro1 .owl-nav

#pCpro2 .owl-nav,#pCpro3 .owl-nav,#pCpro4 .owl-nav,#pCpro5 .owl-nav,#pCpro6 .owl-nav,#pCpro7 .owl-nav

{ top: -60px;}

#mdpro .owl-nav,#rspro .owl-nav,#tCpro .owl-nav{top:-26px;}

.tb-section .nav-tabs {

	float: right;

	white-space: nowrap;

	flex-wrap: nowrap;

	overflow-y: auto;

	margin-bottom: 10px;

	}

	.col-head h2 {



		margin-bottom: 10px !important;

		font-size: 30px !important;



	}

	.abt-text h2,.faq-sec h2,.help-col h2 {

		font-size: 30px !important;

		

	}

	.faq-sec .faq h3 {

		font-size: 22px;

		}

.description-col{ margin-bottom: 20px;}

}



.nav-tabs {

    display:none;

}



@media(min-width:768px) {



    .nav-tabs {

        display: flex;

    }

    

    .card {

        border: none;

    }



    .card .card-header {

        display:none;

    }  



    .card .collapse{

        display:block;

    }





}



@media all and (max-width: 768px) {
	#productsliderdetail{
		margin-top: 50px;
	}
	#productsliderdetail .owl-thumbs{
	display: none;
}

	.orderbar-sec{

		margin-top: 60px;



	}

	.order-step{

		width: 60px;

	}

	.order-step:nth-child(even) .order-status-name{



		    position: absolute;

    top: -72px;

    left: -10px;



	}

	.order-step:nth-child(even) .order-status-name.right{

			right: 0px;

			left:auto;

	}

	.order-status-sec{

flex-wrap: wrap;

	}

.signin-section{

	flex-wrap: wrap;

}



.blog-section-main{

	flex-wrap: wrap;

}

.blog-sidebar{

	width: 100%;

	order:2;

}



.blog-right-section{

	grid-template-columns: repeat(1, 1fr);

	margin-bottom: 20px;

}



.blog-right-section{

	margin-left: 0px!important;

}





.signing-box-left{

	width: 100%;

	order:2;

}

.signing-box-right{

	width: 100%;

	order:1;

}

	.faq-section{

  grid-template-columns: repeat(1, 1fr);

}

	.contact-us-info{

display: none;

}

	.feedback-right h5{

		text-align: center;

	}

	 .feedback-left{

    	width: 100%

    }



    .feedback-right{

    	width: 100%

    }

	.about-us-left{

		width: 100%;

		order:2;

	}

	.about-us-left h2{

		font-size: 25px;

	}

	.about-us-right{

		width: 100%;

		order:1;

	}

	.sidenav{

		width: 80%!important;

	}

	.dasboard-box.d-flex{

  flex-wrap: wrap;

}

.address-book-flex{

	grid-template-columns: repeat(1, 1fr);

}

.referal-code{

	width: 100%;

}

	.dashboard-flex-section.d-flex{

		display: inherit!important;

	}

	.dashboard-right-section{

		margin-left: 0px;

	}

	.table thead {

    display: none;

  }



  .add-to-cart-table,

  .add-to-cart-table tbody,

  .add-to-cart-table tr,

  .add-to-cart-table td {

    display: block;

    width: 100%;

  }

  .add-to-cart-table tr {

    margin-bottom: 15px;

  }

  .add-to-cart-table td {

    padding-left: 50%;

    text-align: left;

    position: relative;

  }

  .add-to-cart-table td::before {

    content: attr(data-label);

    

    

    font-size: 15px;

    font-weight: bold;

    text-align: left;

  }



  .add-to-cart-img{

  display: block;

  margin:auto;

}





	.rating .stars .star{

		margin-top: 5px;

	}

	.select-quantity{

		width: 50%;

	}

	.product-details.mt-5{

		margin-top: 0px!important;

	}

	.select-size-sec{

		grid-template-columns: repeat(6, 1fr);

	}

	.product-left-details {

		width: 100%;

	}

	.product-img-slider-thumnail img{

		width: 100%!important;

		height: auto;

	}

	#sync1{

		width: 100%;

	}

	 .product-right-details{

		width: 100%;

		padding-left: 0px;

		margin-top: 30px;

	}

	#sync2{

		width: 100%;

		order: 2;

		margin-top: 10px!important;

	}

	#sync2 .owl-stage-outer .owl-stage .owl-item{

		float: left!important;

	}

	.buynow-btn , .add-to-cart-btn{

		width: 48%!important;

	}

	.sync2{

		display: none;

	}

	.product-details .d-flex{

		flex-wrap: wrap;

	}

	  .tab-content > .tab-pane {

        display: block !important;

        opacity: 1;

    }

	.filter-btn{

		display: block;

	}

	.close-listing-btn{

		display: block;

	}

	.listing-pro{

		    grid-template-columns: repeat(2, 1fr);

	}

	.listing-left-sidebar{

		position: fixed;

		left: -1000px;

		z-index: 9999;

    background-color: #fff;

    top: 0px;

    transition: 0.2s;

        overflow-y: scroll;

    height: 100%;

	}

	.listing-left-show{

		left: 0px;

		transition: 0.2s;

	}

	.listing-main-section{

		margin-left: 0px;

		padding:0px;

	}

	.product-permotion {

	margin-bottom:30px;

}

	.tb-section .nav-tabs{ padding-right:0;}

	#npro .owl-nav {

	height: 1px;

	padding: 0;

	position: absolute;

	bottom: -40px;

	right: 0;

	z-index: 100;

	left: 0;

	width: 80px;

	margin: 0 auto;

}

	.nb-p {

	padding: 8px 0;

	display: block;

	margin-right: 10px

}

.mrgn-btm {

	margin-bottom: 30px;

}

    .col-head h2 {

        margin-bottom: 15px;

        font-size: 30px;

    }

    .healthy .card-text{ max-width: 80%;}

    .mx-wrp{ height: auto; margin-bottom: 30px;}

    .card-img-overlay {

        padding: 30px 30px;

    }

.list-group{ margin-bottom: 30px;}

.nav-home-aside {

	width: 100%;

	margin-bottom: 20px

}

.nav-home-aside .title-category {

	cursor: pointer;

	padding: 10px 10px;

	display: block;

	border: 1px solid #ddd;

	-webkit-box-shadow: 0px 2px 3px rgba(102,102,102,0.1);

	box-shadow: 0px 2px 3px rgba(102,102,102,0.1);

	border-radius: 5px

}

.nav-home-aside .title-category .icon {

	float: right;

	margin-top: 3px

}

.nav-home-aside .menu-category {

	margin-bottom: 20px;

	display: none

}

.nav-home-aside .menu-category li {

	position: relative;

	display: block

}

.nav-home-aside .menu-category a {

	color: #212529

}

.nav-home-aside .menu-category>li>a {

	display: block;

	padding: 10px 0px

}

.nav-home-aside .menu-category .submenu {

	display: none;

	-webkit-box-shadow: initial;

	box-shadow: initial;

	border: 1px solid #ddd;

	position: static;

	left: 0;

	top: 0;

	width: auto;

	background: #fff

}

.nav-home-aside .menu-category li:hover .submenu {

	display: none

}

.nav-home-aside .menu-category .has-submenu>a:after {

	-webkit-transform: rotate(90deg);

	transform: rotate(90deg)

}

.list-inline-item {

	margin-bottom: 10px

}

.slider-home-banner .carousel-item img {

	max-height: 250px

}

.section-header .search-header {

	margin-top: 1rem;

	margin-bottom: 1rem

}



.home_slider .item img {

	width: 100%;

    height: 300px;

    object-fit: cover;

}



.banner-quote {

	min-height: auto

}

.icontext {

	margin-bottom: 20px

}

.card-post {

	margin-bottom: 20px

}

.card-product-grid .img-wrap {

	height: 200px

}

.section-footer .title {

	margin-bottom: 0;

	margin-top: 20px

}

.item-feature {

	margin-bottom: 20px

}

.mobile-order-first {

	-webkit-box-ordinal-group: 0;

	-ms-flex-order: -1;

	order: -1

}

.mobile-order-1 {

	-webkit-box-ordinal-group: 2;

	-ms-flex-order: 1;

	order: 1

}

.mobile-order-2 {

	-webkit-box-ordinal-group: 3;

	-ms-flex-order: 2;

	order: 2

}

.mobile-order-3 {

	-webkit-box-ordinal-group: 4;

	-ms-flex-order: 3;

	order: 3

}

.mobile-block {

	display: block

}

.bgHeading h4 {

	font-size: 30px;

	color: #fff;

	margin: 0;

}

.padding-y {

	padding-top: 20px;

	padding-bottom: 20px

}

.padding-top {

	padding-top: 20px

}

.padding-bottom {

	padding-bottom: 20px

}

.padding-y-lg {

	padding-top: 30px;

	padding-bottom: 30px

}

.padding-top-lg {

	padding-top: 30px

}

.padding-bottom-lg {

	padding-bottom: 30px

}

.container {

	padding-left: 20px !important;

	padding-right: 20px !important

}

.row>[class^="col"] {

padding-left:5px;

padding-right:5px

}

.col-head h2 {

	margin-bottom: 10px !important;

	font-size: 18px !important;

}

#mdpro .owl-nav, #rspro .owl-nav, #tCpro .owl-nav {

	top: -22px;

}

.card-title {

	margin-bottom: 10px;

	font-size: 22px;

}

.card .card-text {

	font-size: 14px;

}

.abt-text{ margin-bottom: 30px;}

.abt-text h2,.faq-sec h2,.help-col h2 {

	font-size: 22px !important;	

}

.faq-sec .faq h3 {

	font-size: 18px;

	}

	.help-frm {

		padding: 0 20px;

	}

}

@media all and (max-width: 600px) {

.social-box {

	width: 100%;

	float: none;

	text-align: center;



}

.social-box.brd {

	border-right: none;

	border-bottom: 1px solid #dadada;

	margin-bottom: 30px;

	padding-bottom: 30px;

}	

.main-heading {

	font-size: 18px;

}

}

/*# sourceMappingURL=responsive.css.map */

