@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,h6{ font-family:'Montserrat', sans-serif;}

.wishlist-icon{
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 10;
  padding: 5px;
  cursor: pointer;
}
.wishlist-icon button{
      background-color: #fff;
    border: 1px solid #fd9b02;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist-icon i{
  font-size: 20px;
   color: #f60;
}

/*body{font-family: 'Jost', sans-serif;}*/

.section-header .navbar-nav{

  margin: auto;

}

.brand-wrap{

      position: absolute;

    top: -40px;

    background-color: #fff;

}

.container{ max-width:1200px;}

.navbar-main{ padding:0;}

.navbar-main .nav-link {padding: 1rem .8rem; font-size: 15px;}

.category {background: #3A9046;color: #fff;}

.category.dropdown-toggle::after {display: none;}

.dropdown:hover .dropdown-menu{display: block;}

.navbar-main .dropdown-menu {border-radius: 0;}

.navbar-main .nav-link.category:hover{ color:#fff}

.navbar-main .category-wrap .dropdown-menu{ width:100%}

.icon-sm {width: 50px;height: 50px;line-height: 46px !important;font-size: 20px}

.icon-sm:hover,.icon-sm.active{  color:#fff; border-color:#ff6600 !important; background:#ff6600;}

.widget-header .icon:hover{color:#fff; }

.form-inline .form-control{ height:50px; padding:auto 20px; border-radius:50px;}

.center-col {position: absolute;width: 25%;text-align: center;left: 0;right: 0;margin: 0 auto;font-size: 14px; color: #000;}

.top-h .nav-item{ padding:.5rem 0}

.top-h .nav-link, .top-h a{ padding:0 1rem; font-size: 14px;    color: #000;}

.home_slider .owl-nav {display: none;}

.home_slider .owl-dots {position: absolute;left:0;right:0;bottom: 20px;}

.home_slider .owl-dots .owl-dot span {background: #fff !important; width:30px !important; height:4px !important; border-radius:0 !important;}

.home_slider .owl-dots .owl-dot.active span, .home_slider .owl-dots .owl-dot:hover span{ background:#ff6600 !important;}

.home_slider .item img{ width:100%}

.bgHeading {position: absolute;top: 30%;margin-top: -30px;width:100%;text-align:center;}

.bgHeading h4{ font-size:80px; color:#000; margin:0;}

.bgHeading h5{ font-size:40px; color:#7E7E7E; margin:0;}

.bgHeading p {font-size: 16px;color: #fff;font-weight: 400;letter-spacing:1px;line-height:28px;margin:0 0 40px;}

.bgHeading .shop-btn{ background: #ff6600; color: #fff; padding:10px 30px; display: inline-block; font-family:'Montserrat', sans-serif; font-size: 14px; font-weight: 500;}

.pd-top{ padding-top:60px;}

.pd-bottom{ padding-bottom: 60px;}

.product-col {border: 1px solid #eee;width: 100%;padding: 5px; border-radius: 0px;transition: all ease .5s;text-align:center; background: #fff;}
.product-col:hover .cart-btn{
    background-color: #f60;
    border:1px solid #f60;
    color: #fff;
}
.pro-img { width: 100%; height: auto; background: #000;}

.pro-img img{ width: 100%!important; height: 300px!important;}

.pro-tex { padding: 20px 0 0;}

.pro-tex h3 { font-size: 18px; font-weight: 500;font-family:'Montserrat', sans-serif; padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 55px;
        margin-bottom: 20px;
  }

.cart-btn { display: block;color: #000; text-align: center; font-size: 14px; font-weight: 500;padding:10px 0;font-family:'Montserrat', sans-serif; border:1px solid #ddd; padding:10px;}

.section-footer {background: #b07c0f61 ;}

.btn-icon:hover{

  background-color: #ff6600!important;

}

.tab-content.veiw{ overflow: hidden;}

.product-col:hover{ box-shadow:0 5px 10px rgba(0,0,0,10%); margin-top: -10px;}

.product-col:hover .mcart-btn { background:#ff6600; color:#fff;}

.tb-section .nav-tabs{ float:right; border-color:transparent; padding-right:75px; position: relative; z-index: 9;}

.tb-section .nav-tabs .nav-link{ color:#888; font-size:14px; font-weight:500}

.tb-section .nav-tabs .nav-link.active,.tb-section .nav-tabs .nav-item.show .nav-link,

.tb-section .nav-tabs .nav-link:hover, .tb-section .nav-tabs .nav-link:focus{ border-color:transparent}

.tb-section .nav-tabs .nav-link:hover, .tb-section .nav-tabs .nav-link:focus{ color:#3A9046;}

.col-head { text-align:center;}

.col-head h2{ margin-bottom: 15px; font-size: 36px; color: #000; font-weight: 600;}

.col-head h2 span{ font-weight: 400;}

.top-selling .col-head h2{ float:left; margin-bottom: 15px; font-size: 36px; color: #000; font-weight: 600;}

.search-input.form-control{width:480px;}

.social-media-header li:last-child a.nav-link{

	padding-right: 0px;

}

.categories-menu , .categories-menu:hover{background-color: #ff6600;border-radius: 0px; }

.categories-menu.dropdown{

  position: static;

}

.submenu-list{padding-left: 0px; list-style: none}

.submenu-list li a{

  padding:5px 0px!important; color: #000; display: block;

}



.submenu-list li:last-child a{

  color: #ff6600;

  font-weight:600; 

}



.menuheading{

  color: #ff6600;

  display:inline-block;

  position: relative;

}



.menuheading:before{

  content: "";

  position: absolute;

  bottom: -5px;

  width: 50%;

  background-color: #ff6600;

  height: 2px;

}





.submenu-list li a:hover{

  color:#ff6600!important;

}

#main_nav4{position: relative;}

.categories-menu a {color: #fff; font-size: 16px; padding: 1rem 3rem!important;}

.categories-menu a:hover{color: #fff!important;  }

.down-arrow-icon{position: absolute; right: 10px; top: 18px;}

.menu-icon{height:15px; position: absolute; left: 10px; top: 18px;}

.categories-menu .dropdown-item{color: #000;

    padding: 10px 15px!important;

    border-bottom: 1px solid #ddd;}

 .categories-menu .dropdown-item:hover {background-color: #ff6600}





#hot-deal.owl-carousel .owl-item img{ width:100%!important; height: 300px!important; display:inline-block;}

#hot-deal .owl-nav {height: 1px; padding: 0; position: absolute; bottom: -42px; right: 0; z-index: 100;left: 0;margin: 0 auto;width: 80px;}

#hot-deal .owl-dots{ display:none}

#hot-deal .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#hot-deal .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#hot-deal .owl-nav div.owl-prev:before{ content:"\f104"; }

#hot-deal .owl-nav div.owl-next{ float:right; }

#hot-deal .owl-nav div.owl-next:before{content:"\f105"}

#hot-deal .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}





#top-selling .owl-nav {height: 1px; padding: 0; position: absolute; top: -42px; right: 0; z-index: 100;}

#top-selling .owl-dots{ display:none}

#top-selling .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#top-selling .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#top-selling .owl-nav div.owl-prev:before{ content:"\f104"; }

#top-selling .owl-nav div.owl-next{ float:right; }

#top-selling .owl-nav div.owl-next:before{content:"\f105"}

#top-selling .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}



#npro .owl-nav {height: 1px; padding: 0; position: absolute; top: -42px; right: 0; z-index: 100;}

#npro .owl-dots{ display:none}

#npro .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#npro .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#npro .owl-nav div.owl-prev:before{ content:"\f104"; }

#npro .owl-nav div.owl-next{ float:right; }

#npro .owl-nav div.owl-next:before{content:"\f105"}

#npro .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}



#tpro .owl-nav {height: 1px; padding: 0; position: absolute; top: -42px; right: 0; z-index: 100;}

#tpro .owl-dots{ display:none}

#tpro .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#tpro .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#tpro .owl-nav div.owl-prev:before{ content:"\f104"; }

#tpro .owl-nav div.owl-next{ float:right; }

#tpro .owl-nav div.owl-next:before{content:"\f105"}

#tpro .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}



#mpro .owl-nav {height: 1px; padding: 0; position: absolute; top: -42px; right: 0; z-index: 100;}

#mpro .owl-dots{ display:none}

#mpro .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#mpro .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#mpro .owl-nav div.owl-prev:before{ content:"\f104"; }

#mpro .owl-nav div.owl-next{ float:right; }

#mpro .owl-nav div.owl-next:before{content:"\f105"}

#mpro .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}



.most-bg{ background: #FEF4EC;}

#most-popular.owl-carousel .owl-item img{ width:100%; display:inline-block;}

#most-popular .owl-nav {height: 1px; padding: 0; position: absolute; bottom: -42px; right: 0; z-index: 100;left: 0;margin: 0 auto;width: 80px;}

#most-popular .owl-dots{ display:none}

#most-popular .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#most-popular .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#most-popular .owl-nav div.owl-prev:before{ content:"\f104"; }

#most-popular .owl-nav div.owl-next{ float:right; }

#most-popular .owl-nav div.owl-next:before{content:"\f105"}

#most-popular .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}



#testimonial .owl-nav {height: 1px; padding: 0; position: absolute; bottom: -42px; right: 0; z-index: 100;left: 0;margin: 0 auto;width: 80px;}

#testimonial .owl-dots{ display:none}

#testimonial .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#testimonial .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#testimonial .owl-nav div.owl-prev:before{ content:"\f104"; }

#testimonial .owl-nav div.owl-next{ float:right; }

#testimonial .owl-nav div.owl-next:before{content:"\f105"}

#testimonial .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}

.news {margin-bottom:15px;}

.news .form-control{ height: 40px; border-radius: 0px;  border: 1px solid #eee;}

.news .form-control:focus{ box-shadow: none;}

.news .btn-primary {border-radius: 0px;padding: 8px 10px;background: #ff6600;border-color: #eee;color: #fff;font-size: 14px;font-weight: 400;height: 40px;}

.cdr{ border-radius: 4px; overflow: hidden;}

.mobile{ display: none;}



@media only screen and (max-width: 992px) {

 .desktop{ display: none;}  

 .mobile{ display: block; padding:0px 0px 5px;} 

 #overlay {

  position: fixed; /* Sit on top of the page content */

   /* Hidden by default */

  width: 100%; /* Full width (cover the whole page) */

  height: 100%; /* Full height (cover the whole page) */

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: rgba(0,0,0,0.5); /* Black background with opacity */

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

  cursor: pointer; /* Add a pointer on hover */

}

}

.sidenav {height: 100%;width: 80%; left: -1000px; position: fixed; z-index: 1;top: 0; background-color: #fff;overflow-x: hidden;transition: 0.5s; padding-top: 0px; z-index: 9999;}

.sidenav a:hover {color: #f1f1f1;}

.sidenav .closebtn {position: relative;font-size: 16px;text-align: right;background: #ff6600;padding:16px 20px;display: block;color: #fff; text-transform: uppercase; font-weight: 600;}

@media screen and (max-height: 450px) {

.sidenav {padding-top: 15px;}

.sidenav a {font-size: 18px;}

}

.sideBar ul {padding: 0;list-style: none;margin: 0;}

.sideBar ul li {display: block;margin: 0;padding: 0;}

.sideBar ul li a {padding: 10px 15px;display: block;text-decoration: none;color: #333;border-bottom: 1px solid #eee;}

.sideBar ul li a:hover{ color: #ff6600;}

.dpMenu{ position:relative;}

.subMenu {position: absolute;right: 0;width: 38px;height: 42px;top: 0;cursor: pointer;font-family: FontAwesome;text-align:center;line-height:42px;font-size:10px;}

.dpMenu ul{ display:none; background:#eee}

.dpMenu ul li a{ border-bottom:1px solid #eee}

.dpMenu.open-menu ul{ display:block}

.subMenu::before {content: "\f054";color: #333;display: block;}

.subMenu::after{ display:none}

.dpMenu.open-menu .subMenu::before{ display:none}

.dpMenu.open-menu .subMenu::after {content: "\f078";display: block;color: #ff6600;}

.btn.icon:focus {box-shadow: none;border: none;outline: none;}

.btn.icon{ padding:0;}

.top-h{ background:#b07c0f61;}

.shipping-col{ padding:60px 0}

.shipping-box{ border:1px solid #eee; display:flex; align-items:center;}

.shipping-content {padding: 20px;}

.shipping-content h3{ font-size:18px; text-transform:uppercase; color:#000; margin:0; font-weight:500;}

.shipping-content p{ font-size:14px; color:#666;}

.shipping-icon {margin-left: auto;border-left: 1px solid #eee;padding: 23px 30px;font-size: 26px; color:#ff6600;}

.primium-box {transition: all ease .5s; border-radius: 4px;box-shadow: 0px 9px 20px rgba(0,0,0,5%);text-align: center;position: relative;}

.primium-box:hover{ box-shadow:0 5px 10px rgba(0,0,0,10%);margin-top: -10px;}

/*.prim-image {margin-bottom: -40px;position: relative;top: -60px;}*/

.prim-image::before {position: absolute;top: 13px;left: 0;right: 0;width: 150px;height: 150px;content: "";border-radius: 100px;z-index: -1;margin: auto;}

.prim-image.bgc-1::before{ background:#E3E5F1;}

.prim-image.bgc-2::before{ background:#FDF2E0;}

.prim-image.bgc-3::before{ background:#EEF1FA;}

.prim-image.bgc-4::before{ background:#FDE3E6;}

.prim-image.bgc-5::before{ background:#E1F8F2;}

.prim-image.bgc-6::before{ background:#FFE7A8;}

.primium-box h3 {    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient: vertical;
height: 50px;
  }
#primium-category.owl-carousel .owl-item img{ width:100%!important; height: 200px!important; display:inline-block;}

#primium-category .owl-nav {height: 1px; padding: 0; position: absolute; bottom: -42px; right: 0; z-index: 100;left: 0;margin: 0 auto;width: 80px;}

#primium-category .owl-dots{ display:none}

#primium-category .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#primium-category .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#primium-category .owl-nav div.owl-prev:before{ content:"\f104"; }

#primium-category .owl-nav div.owl-next{ float:right; }

#primium-category .owl-nav div.owl-next:before{content:"\f105"}

#primium-category .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}

.rdo-box{ width:100%; margin-bottom:10px;}

.rdo-box span{ float:right; font-size: 15px; color:#000; font-weight: 600}

.radiotextsty {color: #992100;font-size: 15px;}

.customradio { display: inline-block; position: relative;padding-left: 30px; margin-bottom: 0px;cursor: pointer;font-size: 15px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}

.customradio input {position: absolute; opacity: 0;cursor: pointer;}

.checkmark {position: absolute;top: 0;left: 0;height: 22px;width: 22px; background-color: white;border-radius: 50%; border:1px solid #BEBEBE;}

.customradio:hover input ~ .checkmark { background-color: transparent;}

.customradio input:checked ~ .checkmark { background-color: white; border:1px solid #ff6600;}

.checkmark:after {content: ""; position: absolute;display: none;}

.customradio input:checked ~ .checkmark:after {display: block;}

.customradio .checkmark:after {top: 4px;left: 4px;width: 13px;height: 13px;border-radius: 50%;background: #ff6600;}

.trending-col{ width:100%; background:url(../images/trending.jpg) center no-repeat; background-size:cover; text-align:center;}

.trending-col h6{ font-size:18px; font-weight:400; color:#000; margin-bottom:10px;}

.trending-col h4{ font-size:40px; font-weight:800; color:#000; margin-bottom:15px;}

.trending-col p{ font-size:14px; font-weight:400; color:#5C5C5C; line-height:22px;}

.trending-col a{ padding:8px 20px; background:#fff; border-radius:4px; display:inline-block;}

.main-heading {font-size: 30px;color: #000;font-weight: 600;padding-bottom: 10px;border-bottom: 1px solid #EEE;margin-bottom: 15px;position: relative;}

.main-heading::after {position: absolute;content: "";width: 85px;height: 3px;background: #ff6600;left: 0;bottom: -1px;}

.product-permotion {width: 100%;height: 400px;background: url(../images/permotion.jpg) center no-repeat; background-size: cover;display: flex; justify-content: center;align-items: center;}

.product-permotion-over{ background: rgba(255,255,255,90%); padding: 20px; text-align: center;}

.product-permotion-over h4 {font-size: 16px;font-weight: 400;line-height: 22px;color: #000;}

.product-permotion-over h2 {font-size: 24px;color: #000;font-weight: 600;}

.product-permotion-over h3 {font-size: 24px;color: #000;font-weight: 400;}

.test-box {border: 1px solid #eee;width: 100%;padding:20px; border-radius: 0px;transition: all ease .5s;text-align:center;}

.test-box:hover {box-shadow: 0 5px 10px rgba(0,0,0,10%);margin-top: -10px;}

.test-box .rating-stars {margin-bottom: 15px;}

.test-circle {width: 60px;height: 60px;background: #000;display: inline-block;border-radius: 50px;margin-bottom: 5px;overflow: hidden;}

.test-box p{ font-size: 14px; color: #666; line-height: 20px;}

.test-box h4{ color: #000; text-transform: uppercase; font-size: 16px; font-weight: 500;}

.test-box p span{ font-size: 16px; color: #666;}

.pd-bottom-slide {padding-bottom: 104px;}

.our-product-box{ border: 1px solid #eee; padding: 30px; text-align: center;}

.our-product-box p{ font-size: 18px; color: #000;}

#our-product .owl-nav {height: 1px; padding: 0; position: absolute; top: -42px; right: 0; z-index: 100;}

#our-product .owl-dots{ display:none}

#our-product .owl-nav div{ width:28px; color:#000; font-size:0; line-height:20px; text-align:center; margin-top:-25px; height:28px; border-radius:-0px; background:#ff6600; float:left}

#our-product .owl-nav div:before{font-size:20px; font-family:'FontAwesome';}

#our-product .owl-nav div.owl-prev:before{ content:"\f104"; }

#our-product .owl-nav div.owl-next{ float:right; }

#our-product .owl-nav div.owl-next:before{content:"\f105"}

#our-product .owl-nav div:hover{ border:1px solid #FD9B02; color:#FD9B02; background:#fff;}

.blog-bg{ background: #b07c0f61 ;}

.single-blog{border:1px solid #eeeeee; padding: 5px; background: #fff; }

.single-blog-img { overflow: hidden;}

.single-blog-img a img { width: 100%;-webkit-transition: .3s;-moz-transition: .3s;-ms-transition: .3s;-o-transition: .3s;transition: .3s;}

.single-blog:hover .single-blog-img a img {-webkit-transform: scale(1.01);-moz-transform: scale(1.01);-ms-transform: scale(1.01);-o-transform: scale(1.01);transform: scale(1.01);}

.single-blog-img img {width: 100%;}

.blog-content-box {padding: 15px; background: #fff;padding-bottom: 30px;}

.blog-content-box h4 {color: #525252;}

.blog-content-box h4 a {color: #525252;text-decoration: none;-webkit-transition: .2s;transition: .2s;}

.blog-content-box h4 a:hover {color: #f0911d;}

.meta-post {margin: 0 0 15px;}

.meta-post ul{ list-style:none; margin:0; padding:0;}

.meta-post ul li{ display:inline-block; margin-bottom:5px; margin-right: 20px;}

.meta-post ul li a{ display:block; font-size:12px; color:#848484; letter-spacing:1px; font-weight:400; text-decoration:none;}

.meta-post ul li a img{ width:16px; height:16px}

.exerpt {line-height: 24px;color: #696969;margin-bottom: 20px;}

.btn-two {padding: 9px 25px;color: #000;background: #ff6600;border-radius: 0px;border: 0;font-size: 16px;font-weight: 600; display:inline-block;}

.social-col{ background: #b07c0f61 ; padding: 10px;}

.social-bx{ background: #fff; padding: 30px;}

.social-bx:after{ content:""; display: table; clear: both;}

.social-box{ width: 50%; float: left; text-align: center;}

.social-box.brd{ border-right: 1px solid #DADADA;}

.social-box h3 {

	font-size: 35px;

	font-weight: 400;

}

.social-box p {

	font-size: 16px;

	color: #666;

	margin-bottom: 0;



}

.social-box p span{ color: #ff6600;}

.texts{ margin-bottom: 20px;;}

.social-icon ul{ list-style: none; margin:10px 0; padding:0;}

.social-icon ul li{ display: inline-block;}

.shopping img{ width:100%;}



/*start here listing design*/

.listing-left-sidebar{

  width: calc(350px - 30px);

  

}

.listing-main-section{

  width: 100%;

  padding:10px;

  margin-left: 30px;

}

.categories-listing{

  padding-left: 0px;

  list-style: none

}



.categories-listing li{

  border-bottom: 1px solid #ddd;

 

}



.categories-listing li a{

  display: block;

   padding:10px;

   font-weight: 500;

}

.price-listing{

  list-style: none;

  padding-left:0px;

  display: flex;

  flex-wrap: wrap;

}

.price-listing li{

        width: 48%;

    border: 1px solid #ddd;

    margin: 4px 2px;

    padding: 4px 10px;

    font-size: 12px;

    font-weight: 500;



}



.price-listing li:hover{

  background-color: #ff6600;

  color: #000;

}

.price-listing li:hover a{

  color: #000!important;

}



.listing-pro{

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 10px;

  grid-auto-rows: minmax(100px, auto);

  position: relative;

}

.filter-btn{

     position: sticky;

    left: 10px;

    right: 0px;

    bottom: 10px;

    border: 1px solid #ff6600;

    background-color: #fff;

    border-radius: 50%;

    width: 50px;

    height: 50px;

    z-index: 999; 

    font-size: 20px;

    line-height: 38px;

    display: none;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px!important;

}

.close-listing-btn{

  display: none;

}







.nav li {

  border-bottom: 1px solid #eee;

}



.nav li a {

  font-size: 14px;

}



#accordionMenu {

  max-width: 300px;

}



.panel-body {

  padding: 0;

}



.panel-group .panel+.panel {

  margin-top: 0;

  border-top: 0;

}



.panel-group .panel {

  border-radius: 0;

}



.panel-default>.panel-heading {

  color: #333;

  background-color: #fff;

  border-color: #e4e5e7;

  padding: 0;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}



.panel-default>.panel-heading a {

  display: block;

  padding: 10px;

  text-decoration: none;

  font-size: 14px;

    font-weight: 500;

}



.panel-default>.panel-heading a:after {

  content: "";

  position: relative;

  top: 1px;

  display: inline-block;

  font: normal normal normal 14px/1 FontAwesome;

  font-style: normal;

  font-weight: 400;

  line-height: 1;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  float: right;

  transition: transform .25s linear;

  -webkit-transition: -webkit-transform .25s linear;

}



.panel-default>.panel-heading a[aria-expanded="true"] {

  border-bottom: 1px solid #eee;

}



.panel-default>.panel-heading a[aria-expanded="true"]:after {

  content: "\f068";

}



.panel-default>.panel-heading a[aria-expanded="false"]:after {

  content: "\f067";

}



.sidenav-list{

  display: block!important;

}

.sidenav-list li{

  position: relative;

  padding-left: 15px;

}



.same-address-checkbox{

  font-size: 14px;

  font-weight: normal;

}



.sidenav-list li:before{

         content: "\f101";

    font: normal normal normal 14px/1 FontAwesome;

    position: absolute;

    left: 10px;

    top: 12px;

    font-size: 14px;

    color: #f60;



}



.sidenav-list li a{

  display: block;

    padding: 10px;

    font-weight: 500;



}



/*end here listing design*/



/*start here product details page*/

.product-left-details{

  width: 40%;

}



.product-right-details{

  width: 60%;

  padding-left: 30px;



}



.product-right-details h1{

  font-size: 20px;

  font-weight: 400;

}

.product-right-details h6{

font-size: 14px;

  font-weight: 400;

}

.details-size button{

  border:1px solid #ddd;

  font-weight: normal;

}

.select-size.highlight_stay{

  background-color:#ff6600!important;

  color: #000;

}

.select-size-sec{

  display: grid;

  grid-template-columns: repeat(8, 1fr);

  gap: 10px;

  

}

.select-size:focus{

  box-shadow: 0 0 0;

}

.select-color-sec{

  display: grid;

  grid-template-columns: repeat(5, 0fr);

  gap: 10px;

}



.select-color{

  width: 30px;

  height: 30px;

  border-radius: 50%;

    position: relative;

}

.highlight_color:before{

  content: "\f00c";

    font: normal normal normal 14px/1 FontAwesome;

    position: absolute;

    top: 0px;

    bottom: 0px;

    left: 0px;

    right: 0px;

    color: #fff;

    display: flex;

    justify-content: center;

    align-items: center;

}

.select-color:focus{

box-shadow: 0 0 0 ;

}











.product-img-slider-thumnail img{

  height: 100px;

  width: auto!important;

}



#decrease{

  background-color: #000;

  position: absolute;

  left: 0px;

  bottom:0px;

  display: flex;

  align-items:center;

  justify-content: center;

  top: 0px;

  height: 100%;

  width: 50px;

  font-size: 25px;

  cursor: pointer;

  color: #fff

}



#increase{

  position: absolute;

  right: 0px;

  top: 0px;

  bottom:0px;

  display: flex;

  align-items:center;

  justify-content: center;

  height: 100%;

  background-color: #000;

  width: 50px;

  font-size: 25px;

  cursor: pointer;

  color: #fff

}

.select-quantity{

  width: 35%;

}

#sync2 .owl-stage-outer .owl-stage .owl-item{

  float: none!important;

  margin-bottom: 10px;

  overflow: hidden;
    height: 603px;
    overflow-y: scroll;

}

#sync2 {

  width: 15%;

  margin-top: 0px!important;

}

#sync1{

  width: 85%;

}

.buynow-btn , .buynow-btn:hover , .buynow-btn:focus{

  background-color: #000;

  color: #fff;

  height: 40px;

  line-height: 28px;

  box-shadow: 0 0 0;

  border-radius: 0px;

} 



.add-to-cart-btn ,  .add-to-cart-btn:hover , .add-to-cart-btn:focus{

  border:1px solid  #000;

  color: #000;

  height: 40px;

  line-height: 28px;

  box-shadow: 0 0 0;

  border-radius: 0px;

} 

#productsliderdetail .owl-thumbs {
    display: flex;
    position: absolute;
    left: -58px;
    height: 100px;
    z-index: 999;
    top: 0px;
    width: 56px;
    flex-wrap: wrap;
}

#productsliderdetail .owl-thumbs .owl-thumb-item {
    width: 100px;
    border: none;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}
#productsliderdetail .owl-thumbs .owl-thumb-item.active{
  border:1px solid #ff6600!important;
}
#productsliderdetail .owl-thumbs .owl-thumb-item img{
  width: 100%;
}

.product-details-content a{

  font-size: 18px;

  display: block;

  background-color: #b07c0f6147;

  margin: 0px 2px;

}

.product-details-content .nav-tabs .nav-link.active{

background-color: #ff6600;

color: #fff;

}



.product-details-content .tab-content  .card-header{

  background-color:#ff6600; 

}





.wdinput input , .wdinput input:hover , .wdinput input:focus{

  box-shadow: 0 0 0!important;

  outline: none;

  border-radius: 0px;



}



.wdinput textarea , .wdinput textarea:hover , .wdinput textarea:focus{

  box-shadow: 0 0 0!important;

  outline: none;



}



.review-box-section:nth-child(even){

background-color: #b07c0f6147;

padding:10px;

}

.review-box-section:nth-child(odd){

  background-color: #f5f5f5;

  padding:10px;

}



#collapse-D .card-body{

  padding:0px;

}



/*end here product detail page*/



/*start here add to cart table*/

.quantity-th{

  width: 20%;

}



.trashicon{

  font-size: 20px;

}

.add-to-cart-table.table {

  width: 100%;

  border-collapse: collapse;

}



.add-to-cart-table.table td,

.add-to-cart-table.table th {

  padding: 12px 15px;

  border: 1px solid #ddd;

  font-size: 14px;

  vertical-align: baseline;

  text-align: center;
  width: 150px;

}



button , button:hover , button:focus{

  box-shadow: 0 0 0!important;

  outline:none!important;

}

.input-qty, .input-qty:hover , .input-qty:focus{

  border-radius: 0px;

  box-shadow: 0 0 0;

  outline: none;

}



.qty-btn-minus , 

.qty-btn-plus{

  border-radius: 0px;

  color: #fff!important;

}





.add-to-cart-table.table th {

  background-color: #b07c0f61;

  color: #000;

  border-top: 0px;

  font-weight: normal;

}



.add-to-cart-table.table tbody tr:nth-child(odd) {

  background-color: #b07c0f6147;

}



.add-to-cart-table.table tbody tr:nth-child(even) {

  background-color: #f5f5f5;

}

.add-to-cart-img{

  height: 80px;

  margin-right: 10px;
  margin-bottom:10px;

}

.add-to-cart-right{

  width:350px;

  padding:10px;

  background-color: #f5f5f5;

  margin-left: 10px;

}



.add-to-cart-left{

  width:100%;

  padding:10px;

  border:1px solid #ddd;

}

.add-to-cart-select-quantity{

  width:100%;

}

.add-to-cart-flex{

  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;



}

.coupon-apply-btn , .coupon-apply-btn:hover{

  position: absolute;

  right: 0px;

  top: 0px;

  height: 100%;

  background-color: #ff6600!important;

  border-radius: 0px;

}

.add-to-cart-heading{

      font-size: 12px;
display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*end here add to cart table*/





/*start here dashboard section */

.dashboard-left-section{

   width: calc(450px - 100px);

}



.dashboard-right-section{

   width:100%;

   margin-left: 30px;

   padding:10px; 

   margin-bottom: 10px;

}

.dashboard-left-section ul{

  list-style: none;

  padding-left: 0px;

}

.dashboard-left-section ul li a {

  padding:10px;

  border-bottom: 1px solid #ddd;

  display: block;

  font-size: 16px;

}



.dashboard-left-section ul li a:hover{

  background-color: #ff6600;

  color: #fff;

}



.dashboard-left-section ul li:last-child a {

  border-bottom:none;

}

.date-time{

  font-size: 14px!important;

}

/*end here dashboard section */



/*start here order section*/

.dashboard-left-section ul li a.active {

    background-color: #ff6600;

    color: #fff;

}

/*end here order section /



/*start here order section */

.address-book-flex{

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 10px;

  grid-auto-rows: minmax(100px, auto);

}

.address-bbok-box{

  padding:10px;

  margin: 10px;

  background-color: #dddddd6e;

}

.name-location h5{

  font-size: 16px;

  font-weight: 600;

}

.name-location h6{

  font-size: 12px;

}

.address-bbok-box p{

  font-size: 14px;

}

.select_addressbook_color{

  background-color:#ff66006b;

}



.address-bbok-box{

  cursor: pointer;

}



.address-book-edit{

  position: absolute;

  right: 0px;

  bottom: 0px;

  z-index: 99;

  font-size: 10px;



}



#error_message{

  background-color: #f8d7da;

  color: #721c24;

  text-align: center;

}





/*end here order section*/



/*start here offer img*/

.offer-img{

height:350px;

margin: auto;

}



.copy-code-btn{

  position: absolute;

  top: 0px;

  right: 0px;

  background-color: #ff6600;

  border-radius: 0px;

}

.referal-code{

  width: 25%;

  margin: auto;

}

/*end here offer img*/



/*start here about section*/

.about-us-flex{

  display: flex;

  flex-wrap: wrap;

}



.about-us-left{

  width: 50%;

  padding: 15px;

}

.about-us-left h2 span{

  color: #ff6600;

}

.about-us-right{

  width: 50%;

  padding: 10px;

}

.about-us-right img{

  border-radius: 10px;



}

/*end here about section*/



/*start here client section*/

.client-says-sec img {

  height: 100px;

  width: auto!important;

  border-radius: 50%;

  margin:30px auto 15px;

}

.client-say-slider{

  width: 80%;

  margin: auto;

}

.client-says{

  position: relative;

}

.client-says:before{

      content: "";

    position: absolute;

    width: 100%;

    height: 100%;

    background-image: url(../images/client/bg-client.jpg);

    background-size: cover;

    background-position: right top;

    z-index: -1;

    top: 0;

    left: 0;

}

.client-say-reviews p{

  color: #000;

  font-size: 20px;

  text-align: center;

}

/*end here client section */



/*start here feedback */

.feedback-left{

  width: 50%;

  padding: 10px;

}

.feedback-left img{

  border-radius: 10px;

}

.feedback-right{

  padding: 10px;

  width: 50%;

}

/*end here feedback*/



/*start here contact us */

.contact-us-info{

   display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 10px;

  grid-auto-rows: minmax(100px, auto);

  position: relative;

}



.contact-us-box{

background-color: #ff6600;

color: #fff;

display: flex;

align-items: center;

justify-content: center;

text-align: center;

border-radius: 10px;

}

.contact-box h6{

  font-size: 14px;

}

.contact-box i{

  font-size: 30px;

}



/*end here contact us */



/*start here faqs */




.acc {
  margin-bottom: 10px;
}

.acc-head {
  background-color:#b07c0f61;
  padding: 15px 10px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
 }

 .acc-head::before,
 .acc-head::after {
  content: '';
  position: absolute;
  top: 50%;
  background-color: #666;
  transition: all .3s;
 }

 .acc-head::before {
  right: 30px;
  width: 3px;
  height: 20px;
  margin-top: -10px;
}

.acc-head::after {
  right: 21px;
  width: 20px;
  height: 3px;
  margin-top: -2px;
}

.acc-head p {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.acc-content {
  padding: 15px 10px;
  display: none;
}
        
.acc-head.active::before {
    transform: rotate(90deg);
}


.faq-section{

  display: grid;

  grid-template-columns: repeat(1, 1fr);

  gap: 10px;

  grid-auto-rows: minmax(100px, auto);

  position: relative;

}

.faqs-box{
  margin-bottom: 15px;
}
.faqs-box h2{

  font-size: 25px;

  font-weight: 500;

}



/*end here faqs*/



/*start here signin form*/



.signing-box-left{

  width: 50%;

    padding: 15px;

    background-color: #f0f1f2;

    height: 100vh;

    display: flex;

    align-items: center;

}



.signin-form-content{

  min-width: 450px;

    margin: auto;

}

.sign-logo{

  text-align: center;

  margin-bottom: 15px;

}

.sign-logo img{
  height: 150px;
}

.siginin-points{

      list-style: none;

    padding-left: 0px;

    margin-bottom: 0px;

}



.siginin-points li {

    line-height: 16px;

    width: 100%;

    padding: 15px;

    font-size: 11px;

    line-height: 16px;

}



.siginin-points i {

    height: 63px;

    width: 65px;

    float: left;

    margin-right: 15px;

    margin-top: -7px;

}







.manageorders {

    background-position: 7px 116px;

    background-image: url(../images/icon/signin.png);

    vertical-align: sub;

    display: inline-block;

}



.shorlist {

    background-image: url(../images/icon/signin.png);

    vertical-align: sub;

    display: inline-block;

    background-position: -59px 116px;

}



.offersudpate {

    background-position: -130px 116px;

    background-image: url(../images/icon/signin.png);

    vertical-align: sub;

    display: inline-block;

}

.siginin-points li p {

    font-size: 14px;

    color: #666;

}

.siginin-points li h5{

  font-size: 16px;

}



.signing-footer-section{

  margin-top: 30px;

}





.signing-footer-section ul{

  list-style: none;

  padding-left: 0px;

  text-align: center;

}

.signing-footer-section li{

  display: inline-block;

  margin: 0px 10px;

}

.copyright p{

  font-size: 12px;

}



.signin-section{

  display: flex;
  align-items: center;



}

.signing-box-right{

  padding: 30px;

  width: 50%;

}

.signin-heading{

  position:relative;

  display: inline-block;

}

.signin-heading:before{

  position: absolute;

  bottom: -5px;

  left: 0px;

  content: "";

  height: 3px;

  width: 50%;

  background-color: #000;

}

.sign-btn-radio{

  font-size: 25px!important;

}



.custom-radio-btn.sign-btn-radio .checkmark{

      height: 30px;

    width: 30px;

    top: 3px;

}



.custom-radio-btn.sign-btn-radio .checkmark:after {

    top: 5px;

    left: 5px;

    width: 20px;

    height: 20px;

}



.custom-radio-btn.sign-btn-radio{

  padding-left: 40px;

}



.signinwithsec{

   display: flex;

   justify-content: center;

}

.signinwithsec a{

  border-radius:50%;

  display: flex;

  align-items: center;

  justify-content: center;

  width: 40px;

  height: 40px;

  margin:0px 10px;

}









.facebookclass{

color: #fff;

background-color: #3b5998;

}

.googleplusclass{

color: #fff;

background-color: #db4437;

}



.mailclass{

  background-color: #000;

  color: #fff;

}



.otpinput{

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 10px;

  position: relative;

}

.send-otp{

  position: absolute;

  right: 0px;

  top: 0px;

  background-color: #000;

  color: #fff;

  border-radius: 0px;

}

/*end here sigin form*/



/*start here checkout page */

.payment-option ul li a{

  font-size: 14px;

}

.checkout-sidebar{

  width: 550px;

  margin-left: 10px;

}

.payment-option #tabs .nav-item .nav-link.active{

  background-color: #b07c0f61;

  font-weight: 600;

}

.wdinput label img{

  height: 15px;

  margin-left: 10px;

}



.name-location h5 span.h6{

  font-size: 12px;

}

/*end here checkout page */



/*start here blog section*/
.empty-section {
    text-align: center;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.empty-section img{
  height: 200px;
}

.blog-section-main{

  display: flex;

}

.blog-sidebar{

  width: calc(450px - 0px);

}

.search-btn{

  position: absolute;

  right: 0px;

  top: 0px;

}



.recent-post-img img{

  height: 60px;

}

.recent-post-blog a{

  border-bottom: 1px solid #ddd;

}

.recent-post-blog a:last-child{

  border-bottom: none;

}

.recent-post-content h6{

  font-size: 14px;

  color: #000;

  font-weight:500; 

  margin-bottom: 5px;

}

.recent-post-content p{

  font-size:12px;

  color: #666; 

}

.tags-btn button{

  font-size: 14px;

  font-weight: normal;

}



.blog-right-section{

  width: 100%;

      display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;

    grid-auto-rows: minmax(100px, auto);

    position: relative;

    margin-left: 30px;
    position: relative;

}

.blog-list-date h5{

font-size: 12px;

}

.blog-list-content-full h5{

      font-size: 16px;

    color: #000;

    font-weight: 600;

    margin-bottom: 5px;



}



.blog-list-content-full a{

  font-size:12px;

  background-color: #000;

  color: #fff;

  padding:10px;

  border-radius: 5px; 

}

.blog-list-content-full p{

  font-size: 14px;

}

.blog-list-content-full{

  padding-bottom: 15px;

}

.blog-list-content-full p{

   overflow: hidden;

   text-overflow: ellipsis;

   display: -webkit-box;

   -webkit-line-clamp: 3; /* number of lines to show */

           line-clamp: 3; 

   -webkit-box-orient: vertical;

}

.blog-right-section.blog-detail-right-section{

  width: 100%;

      display: grid;

    grid-template-columns: repeat(1, 1fr);

    gap: 20px;

    grid-auto-rows: minmax(100px, auto);

    position: relative;

    margin-left: 30px;

}

.blockquote-sec{

  border-left: 2px solid #666;

}



.quote-icon{

  font-size: 30px;

}

.blockquote-sec h6{

  font-size: 20px;

}

.calendar-icon , .comment-icon{

  font-size: 16px;

}



/*end here blog section*/



/*start here policy section*/

.policy-section ul li{

  margin-bottom: 10px;

  position: relative;

  padding-left: 20px;

}



.policy-section ul {

  list-style: none;

  padding-left: 0px;

  margin-bottom: 15px;

}



.policy-section ul li:before{

  position: absolute;

  left: 0px;

  content: "\f101";

      font: normal normal normal 14px/1 FontAwesome;

      top: 0px;

      font-size: 18px;

}





/*end here policy section */



/*start here footer section */

.copyright p{

font-size: 12px;

}

/*end here footer section*/



/*start here order tracking */





.accordion_head {

  background-color: #b07c0f61 ;

  color: #000;

  cursor: pointer;

  font-family: arial;

  font-size: 14px;

  margin: 0 0 0px 0;

  padding: 10px 11px;

  font-weight: bold;

  position: relative;

}



.accordion_head h5{

  font-size: 15px;

    margin-bottom: 10px;

}



.accordion_body {

  margin-bottom: 80px;

  padding:10px; 

}



.accordion_body p {

  padding: 18px 5px;

  margin: 0px;

}



.plusminus {

      position: absolute;

    right: 10px;

    top: 22px;

    font-size: 25px;

}



.orderdate{

  color: #666;

  font-size: 12px;

}



.orderstatus{

      background-color: #f5f5f5;

    border: 1px solid #6666;

    border-radius: 5px;

    padding: 2px 10px;

    font-weight: 600;

    margin-left: 10px;

    font-size: 12px;

}

.order-status-box{

  width: 100%;

  padding:10px;

  text-align: center;

}

.order-status-box h5{

  font-weight: 600;

  font-size: 14px;

}

.order-status-box h6{

  font-size:13px;

  font-weight: normal;

}



.orderbar-line{

  height: 5px;

  width: 100%;

  background-color: #d0d0d0;

  margin-top: 30px;

  position: relative;

}







.order-1{

  position: absolute;

  left: 0px;

  top: 30px;

      width: 110px;

}



.order-2{

  position: absolute;

  left: 25%;

  top: 30px;

      width: 110px;

}



.order-3{

  position: absolute;

      left: 60%;

  top: 30px;

      width: 110px;

}



.order-4{

  position: absolute;

  right: 0;

  top: 30px;

      width: 110px;

}



.order-status-name h6{

font-size: 11px;

font-weight: 700;

}



.order-circle{

      width: 20px;

    height: 20px;

    border-radius: 50%;

    background-color: #ccc;

    position: absolute;

    top: -38px;

}

.order-circle.right{

  right: 0px;

}



.orderbar-line.process-1:before{

  background-color: #4BB543;

  width: 25%;

  position: absolute;

  left: 0px;

  height: 100%;

  content: "";

}

.orderbar-line.process-1 .order-circle.step-1{

  background-color: #4BB543;

}





.orderbar-line.process-2:before{

  background-color: #4BB543;

  width: 60%;

  position: absolute;

  left: 0px;

  height: 100%;

  content: "";

}

.orderbar-line.process-2 .order-circle.step-2 , .orderbar-line.process-2 .order-circle.step-1{

  background-color: #4BB543;

}



.orderbar-line.process-3:before{

  background-color: #4BB543;

  width: 70%;

  position: absolute;

  left: 0px;

  height: 100%;

  content: "";

}

.orderbar-line.process-3 .order-circle.step-3 , .orderbar-line.process-3 .order-circle.step-2 , .orderbar-line.process-3 .order-circle.step-1{

  background-color: #4BB543;

}



.orderbar-line.process-4:before{

  background-color: #4BB543;

  width: 100%;

  position: absolute;

  left: 0px;

  height: 100%;

  content: "";

}



.orderbar-line.process-4 .order-circle.step-4 , .orderbar-line.process-4 .order-circle.step-3 , .orderbar-line.process-4 .order-circle.step-2 , .orderbar-line.process-4 .order-circle.step-1{

  background-color: #4BB543;

}



.cancel-order:before{

background-color: #FF0000;

  width: 100%;

  position: absolute;

  left: 0px;

  height: 100%;

  content: "";

}



.orderbar-line.cancel-order .order-circle.step-4 , .orderbar-line.cancel-order .order-circle.step-3 , .orderbar-line.cancel-order .order-circle.step-2 , .orderbar-line.cancel-order .order-circle.step-1{

  background-color: #FF0000;

}



/*end here order tracking*/



/*start here orderreviews icon*/

.order-reviews-img img{

  height: 80px;

}

.order-reviews-img{

  text-align: center;

  display: flex;

    align-items: center;

}

.order-reviews-img h6{

  font-size: 14px;

  margin-left: 20px;

}

.order-price h4 , .order-price h5{

  font-size: 14px;

}

.order-price h5{

  margin-bottom: 30px;

}

.orderreivdw-sec{

  border-bottom: 1px solid #ddd;

  padding-bottom: 10px;

}





.rating { 

  border: none;

  float: left;

}



.rating > input { display: none; } 

.rating > label:before { 

  margin: 5px;

  font-size: 1.25em;

  font-family: FontAwesome;

  display: inline-block;

  content: "\f005";

}



.rating > .half:before { 

  content: "\f089";

  position: absolute;

}



.rating > label { 

  color: #ddd; 

 float: right; 

}



/***** CSS Magic to Highlight Stars on Hover *****/



.rating > input:checked ~ label, /* show gold star when clicked */

.rating:not(:checked) > label:hover, /* hover current star */

.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */



.rating > input:checked + label:hover, /* hover current star when changing rating */

.rating > input:checked ~ label:hover,

.rating > label:hover ~ input:checked ~ label, /* lighten current selection */

.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/*end here order reviews icon*/



.footer-top .logo{

height: 100px;

}